body {
    background-color: darkgray;
}

.grid {
    display: grid;
    height: 500px;
    max-width: 80%;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    grid-template-areas: 
    "header header header main main"
    "header header header main main"
    "sidebar sidebar footer footer footer"
    "sidebar sidebar footer footer footer";
}
.grid_item {
    font-size: 20px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.header {
    background-color: aqua;
    grid-area: header;
}
.grid :nth-child(2) {
    background-color: aquamarine;
    grid-area: main;
}
.grid :nth-child(3) {
    background-color: azure;
    grid-area: sidebar;
}
.grid :nth-child(4) {
    background-color: blanchedalmond;
    grid-area: footer;
}

@media screen and (max-width:800px) {
    .grid {
        grid-template-columns: repeat(4,1fr);
        grid-template-areas: 
        "header header header header"
        "main main  sidebar sidebar"
        "main main  sidebar sidebar"
        "footer footer footer footer";
    }
    
}
@media screen and (max-width:600px) {
    .grid {
        grid-template-columns: repeat(1,1fr);
        grid-template-areas: 
        "header"
        "main"
        "sidebar"
        "footer";
    }
    
}