* {
    margin: 0;
    padding: 0;
}
:root{
    --color1: crimson;
}
.tittle{
    font-size: 3rem;
    color: var(--color);
    margin: 40px 0;
    text-align: center;
    font-family: monospace;
}
/* Media al momento de imprimir */
@media print{
    .tittle{
        color: var(--color1);
        font-size: 5rem;
        text-align: right;
        font-family: cursive;
    }
}
@media screen and (max-width:800px) {
    .tittle{
        background: var(--color1);
    }
}
/* Orientacion de la pantalla
    orientation:landscape
    orientation:portrait
*/
@media screen and (orientation:landscape){
    .tittle{
        color: steelblue;
        margin: 0;
    }
}
/* and == && */
@media screen and (orientation:portrait) and (max-width:600px){
    .tittle{
        text-align: left;
    }
}
/* , == OR || */
@media screen and (max-width:400px) , (min-width:900px) {
    body{
        background: slategrey;
    }
}