* {
    margin: 0;
    padding: 0;
}

:root{
    --colorPrimario: rgb(255, 255, 255);
    --colorSecundario: rgb(144, 218, 144);
    --boxShadow: 2px 2px 30px black;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 110vh;
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}

.card{
    background: var(--colorPrimario, var(--colorSecundario, crimson));
    width: 300px;
    margin: 30px auto;
    padding: 30px 20px;
    box-shadow: var(--boxShadow);
}
.card_tittle{
    font-size: 2rem;
    color: darkblue;
    margin-bottom: 20px;
}
.card_a{
    display: inline-block;
    padding: 12px 20px;
    margin-top: 20px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    background-image: linear-gradient(to top, #32fff1 0%, #f12d6b 100%);
}
.card2{
    background: var(--colorPrimario);
    width: 300px;
    margin: 30px auto;
    padding: 30px 20px;
    box-shadow: var(--boxShadow);
}
.card2_tittle{
    font-size: 2rem;
    color: darkblue;
    margin-bottom: 20px;
}