* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.grid {
    width: 90%;
    max-width: 600px;
    height: 600px;
    margin: 30px auto;
    outline: 3px solid black;

    display: grid;
    grid-template-columns: [cabezera-start] 1fr 1fr 1fr 1fr [cabezera-end];
    grid-template-rows: [cabezera-start] 1fr  1fr [cabezera-end] 1fr;


}

.grid__item {
    padding: 20px 0px;
    font-size: 2rem;
    color: white;
    text-align: center;
}
.grid :nth-child(1) {
    background-color: rgb(206, 62, 57);
    grid-area: cabezera;
}
.grid :nth-child(2) {
    background-color: rgb(52, 226, 185);
}
.grid :nth-child(3) {
    background-color: rgb(104, 52, 226);
}
.grid :nth-child(4) {
    background-color: rgb(226, 52, 110);
}