* {
    margin: 0;
    padding: 0;
}
:root {
    transition: 1s;
    background-color: rgb(117, 200, 214);
}
.box {
    background-color: rgb(7, 146, 189);
    width: 55px;
    height: 55px;
    margin: 10px;
    text-align: center;
    line-height: 55px;
    color: white;
    font-weight: bold;
}

.container {
    margin-left: 25px;
    padding: 10px 0px;
    border: 3px dotted coral;
}
/* .box:only-of-type {
    background: black;
}
.box:first-of-type {
    background-color: aquamarine;
} 
.box:last-of-type {
    background-color: aquamarine;
} */

/* .box:nth-of-type(2) {
    background: tomato;
} */
/* .box:nth-last-of-type(1) {
    background: lightblue;
} */
/* .container :only-child {
    background: rgb(10, 102, 90);
} */
/* div:first-child {
    background: lightsalmon;
} */
/* .box:last-child {
    background-color: aliceblue;
} */
body :nth-child(4){
    background-color: aqua;
}