.container{
    display: flex;
    position: static;
    height: 100vh;
    width: 100%;
    flex-flow: row wrap-reverse;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.info{
    flex: .1 0 400px;
    margin: 0px 120px;
}
.info__h1{
    font-size: 3.6rem;
    line-height: 75px;
    padding: 0px 0px 18px 0px;
    border-bottom: 4px solid;
    color: rgb(13, 39, 126);
}
.info__span{
    display: inline-block;
    padding: 10px 90px 10px 1px;
    margin: 10px 0px;
    font-size: 1.4rem;
}
.info a{
    display: inline-block;
    margin: 5px 0px;
    padding: 15px 35px;
    background: rgba(26, 63, 184, 0.596);
    border-radius: 30px;
    font-size: 1.5rem;
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.459);
    transition: .4s;
}
.info>a:hover{
    background: rgba(26, 63, 184, 0.829);
    box-shadow: 1px 1px 9px black;

}
.container__img{
    display: flex;
    width: 500px;
    height: 500px;
    align-items: center;
    justify-content: center;
}
.container__imagen{
    object-fit: cover;
    border-radius: 50%;
    width: 450px;
    height: 450px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.562);
    transition: .3s;
}
.container__imagen:hover{
    box-shadow: 1px 1px 19px black;
    height: 470px;
    width: 470px;
}